@font-face {
    font-family: 'Ginger';
    src: url('fonts/f37ginger-bold-webfont.eot');
    src: url('fonts/f37ginger-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/f37ginger-bold-webfont.woff') format('woff'),
         url('fonts/f37ginger-bold-webfont.ttf') format('truetype'),
         url('fonts/f37ginger-bold-webfont.svg#f37_gingerbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, body {
  /* System Fonts as used by GitHub */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  background-color: snow;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, b {
  font-weight: normal;
  font-family: "Ginger";
}

h1{
  margin-top: 0;
}

h2{
  font-size: 1.75rem;
}

h3{
  margin: 2rem 0 1rem 0;
  font-size: 1.25rem;
}

.large-text{
  font-size: 2rem;
  line-height: 2.75rem;
}

.large-text span{
  border-bottom: 7px solid #EAB0A8;
}

.medium-text{
  font-size: 1.25rem;
}

.display{
  font-family: "Ginger", sans-serif;
}

input[type="submit"].paypal_button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  margin-top: 0;
}

.button{
  padding: 10px 15px;
  margin-top: 2rem;
  background: #333b8c;
  color: #fff !important;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
}
.button:hover{
  background: #4b5ba5;
  transition: background-color 0.5s ease;
}

.link, input[type="submit"].paypal_button{
  color: #333b8c !important;
  margin-bottom: 2px;
  font-size: 1rem;
  font-weight: 900;
  border-bottom: 2px solid #2C578F;
}
.link:hover, input[type="submit"].paypal_button:hover{
  border-bottom: 3px solid #2C578F;
  margin-bottom: 1px;
}

/* Grid */

.grid-row {
  max-width: 64rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  position: relative;
}

.grid-row .column-full {
  width: 40rem;
  opacity: 0.8;
}

.grid-row .column-one-fifth {
  width: 32%;
  display: inline-flex;
}

.grid-row p {
  margin-bottom: 1rem;
}

.not-padding-top{
  padding-top: 0;
}

.not-padding-bottom{
  padding-bottom: 0;
}

img{
  width: 100%;
}

a, a:visited {
  color: #000;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: black;
}

html {
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto auto;
}

.main {
  /* padding: 1rem; */
}

/* Sections */

section{
  /* Fix weird mobile bug */
  padding: 1px 0;
}

.header{
  display: flow-root;
}

.header .grid-row{
  padding: 0 0 0 1rem;
}

.logo{
  font-weight: bold;
  font-family: "Ginger";
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.visually-hidden{
  visibility: hidden;
  font-size: 0;
}

nav{
  width: 100%;
  margin-top: .75rem;
}

nav ul{
  list-style-type: none;
  padding: 0;
}

nav li{
  display: inline;
  margin-right: 1rem;
  text-decoration: underline;
}

.hero p{
  margin-top: 0rem;
}

.header, .hero {
  background-color: #F4D5D1;
}

#homepage .hero .grid-row{
  padding-bottom: 1rem;
}

#how-we-work-page img{
  margin-top: 1rem;
}

.hero .refugee-link{
  margin-top: 4rem;
}

.partners{
  background-color: #faeeec;
}

.partners .grid-row{
  padding: 0;
}

.hero .medium-text{
  max-width: 600px;
  margin-top: 2rem;
}

.journey{
  background-color: #333b8c;
  color: #fff;
}

.journey h2, .journey h3{
  color: #fff;
}

.values .grid-row:first-of-type{
  padding-bottom: 0;
}

.values .grid-row:nth-of-type(2){
  padding-top: 0;
}

.support{
  background-color: #F4D5D1;
}


/* Table */
.table {
  font-size: 1rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table h3, .table p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.card {
  margin-bottom: 2rem;
  padding: 0 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.05);
  flex-direction: column;
  width: 16rem;
  margin: 1rem;
  color: #000;
  min-height: 250px;
}

.card div, .card ul {
  margin: 0 1rem;
}

.image {
  margin: 0 !important;
  width: 100%;
  padding-bottom: 65%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
  border-radius: 5px 5px 0px 0px;
}

.card h4 {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #222;
}

.description {
  padding: 0.5rem 0 1rem;
  flex: 1;
}
.components {
  margin-top: auto;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-bottom: 0.25rem;
}
.components li {
  border-top: 1px solid #eee;
  width: 100%;
  padding: 0.3rem 0;
  display:flex;
  align-content: center;
}
.components li a {
  padding: 0.5rem 0;
  line-height: 1.2;
  width: 100%;
  display:flex;
  justify-content:flex-start;
  align-items: center;
  color: #333;
}
.components li a:hover, .components li a:focus {
  background-color: white;
  text-decoration:underline;
}
.components li a span.icon {
  margin-right: 0.3rem;
  height: 1.5rem;
  width: 1.5rem;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon.chevron {height: 0.75rem !important;width: 0.75rem !important; background-image:url('../img/icons/chevron.svg');margin-left: auto;}

.footer {
  background-color: #000;
  color: #fff;
}

.footer a{
  color: #fff;
  text-decoration: underline;
}

.footer p.subfooter {
  font-size: 1rem;
  opacity: 0.7;
}

.flickity-button{
  border-radius: 0 !important;
}

.profile .content, .profile img{
  display: block;
}

.profile{
  margin: 2rem 0;
}

.profile img{
  width: 125px;
  height: 125px;
  border-radius: 75px;
  vertical-align: top;
  margin: .5rem 2rem 1rem 0;
}

.profile .content{
  width: 100%;
  margin-left: 0;
}

.profile h3{
  margin-top: 0;
}


/* Desktop styling */
@media (min-width: 48rem) {

  .button{
    margin-top: 5rem;
  }

  .large-text{
    font-size: 3.25rem;
    line-height: 4.5rem;
  }

  .medium-text{
    font-size: 1.5rem;
  }

  .header .grid-row{
    padding: 0 0 0 1rem;
  }

  nav{
    width: auto;
  }

  .table {
    justify-content: flex-start;
    border-radius: 5px;
  }

  .grid-row {
    padding: 4rem 1rem;
    max-width: 64rem;
    display: flex;
    justify-content: space-between;
  }

  .grid-row .column-one-whole{
    width: 100%;
  }

  .grid-row .column-one-half {
    width: 48%;
  }

  .grid-row .column-one-third {
    width: 33.33%;
  }

  .grid-row .column-two-thirds {
    width: 66.66%;
  }

  .grid-row .column-one-fifth {
    width: 20%;
  }

  .profile .content, .profile img{
    display: inline-block;
  }

  .profile .content{
    width: calc(100% - 130px - 2rem);
  }

  #how-we-work-page img{
    margin-top: 6rem;
  }

}

.step-nav__steps {
    padding: 0;
    margin: 0;
}




@media (min-width: 641px)
.step-nav--large .step-nav__step {
    padding-left: 60px;
}

.step-nav__step {
    position: relative;
    padding-left: 45px;
    list-style: none;
}
@media (min-width: 641px)
.step-nav--large .step-nav__header {
    padding: 30px 0;
}

.step-nav__header {
    border-top: solid 1px #4b5ba5;
}

.step-nav__steps:first-child .step-nav__header {
    border-top: none;
}

.step-nav__circle--number {
    font-size: 16px;
    line-height: 23px;
    border: solid 2px #F4D5D1;
}

.step-nav__circle {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 5;
    top: 15px;
    left: 0;
    width: 26px;
    height: 26px;
    color: #F4D5D1;
    background: #333b8c;
    border-radius: 100px;
    text-align: center;
}

.visually-hidden, .visuallyhidden {
    position: absolute;
    left: -9999em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.step-nav__step:after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0;
    height: 100%;
    border-left: solid 2px #F4D5D1;
    background: #F4D5D1;
    left: 0;
    margin-left: 12px;
    top: 31px;
}

.step-nav__steps:last-child .step-nav__step:after{
  top: 15px;
}

.step-nav__step{
  padding: 0rem 1rem 1rem 45px;
}

a.toggle{
  color: #fff;
  text-decoration: underline;
  margin-bottom: 1rem;
  display: inline-block;
}

.step-nav__title {
  margin: 10px 0 1rem 0;
  display: inline-block;
  font-size: 1.5rem;
}

/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.flickity-button[disabled]{
  display: none;
}

.main-gallery .card:first-child{
  margin-left: 0;
}

.logo-letter, .logo-word{
  display: inline-block;
  font-family: ginger;
  font-size: 1.75rem;
  margin-top: 10px;
  margin-right: -4px;
  margin-bottom: -5px;
}

.logo-type{
  border-bottom: 3px solid #EAB0A8;
  margin-top: 1rem;
  display: inline-block;
  background-image: url("img/logo-03.png");
  background-position: center;
  background-size: 168%;
  padding: 0 8px 0 5px;
}

ul{
  padding-left: 20px;
  list-style-position: outside;
}

ul.no-bullet{
  list-style-type: none;
  padding: 0;
}

li{
  margin-bottom: 5px;
}

em{
  display: block;
  margin: 1rem 0;
}
