<div class="footer" id="stay-informed">
  <div class="grid-row">
    <div class="column-one-half">
      <p>Mosaik Education is a registered charity in England and Wales (1176947).</p>
      <p>Registered address: The Ramp Coworking, Peckham Levels, 1 to 6 Peckham Town Centre Carpark, 95A Rye Ln, London, SE15 4ST.</p>
      <br>
      <nav>
        <ul>
          <li><a href="privacy.html">Privacy statement</a></li>
          <li><a href="work-with-us.html">Work with us</a></li>
        </ul>
      </nav>
    </div>
    <div class="column-one-half">
    </div>
  </div>
</div>
