<footer id="stay-informed">
  <div class="grid-row">
    <div class="column-two-thirds">
      <nav>
        <ul class="links">
          <li><a href="team.html">Our team</a></li>
          <li><a href="work-with-us.html">Work with us</a></li>
          <li><a href="press.html">Press</a></li>
          <li><a href="privacy.html">Privacy statement</a></li>
        </ul>
        <ul class="social">
          <li><a href="https://www.instagram.com/mosaik_education/"><img alt="Instagram icon" src="img/social/instagram.svg"></a></li>
          <li><a href="https://twitter.com/mosaikeducation"><img alt="Twitter icon" src="img/social/twitter.svg"></a></a></li>
          <li><a href="https://www.facebook.com/Mosaik-Education-479521909465132"><img alt="Facebook icon" src="img/social/facebook.svg"></a></a></li>
        </ul>
      </nav>
    </div>
    <div class="column-two-thirds">
      <p>Registered charity in England and Wales (1176947)</p>
      <p>The Ramp Coworking <br>Peckham Levels <br>1 to 6 Peckham Town Centre Carpark <br>95A Rye Ln <br>London, SE15 4ST</p>
    </div>
  </div>
</footer>
