<section class="hero">
  <div class="grid-row">
    <div class="column-one-whole">
      <h1 class="large-text">Helping refugees reach university</h1>
      <p class="medium-text">We develop guidance and courses to overcome the barriers to reaching university</p>
      <p class="refugee-link">If you’re looking for support <a href="https://www.facebook.com/StudentDardachat/" class="link">join our Facebook group</a> or email <a href="mailto:hello@mosaik.ngo" class="link">hello@mosaik.ngo</a>.</p>
    </div>
  </div>
</section>
