<section class="centred divider">
  <div class="grid-row heading">
    <div class="column-one-whole">
      <h2 class="medium-text">Partnering with</h2>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-one-fifth ">
      <a href="https://www.futurelearn.com/"><img alt="Future Learn logo" src="img/logos/logos-01.png"></a>
    </div>
    <div class="column-one-fifth">
      <a href="https://asfarifoundation.org.uk"><img alt="Asfari Foundation logo" src="img/logos/logos-02.png"></a>
    </div>
    <div class="column-one-fifth">
      <a href="https://www.busuu.com/"><img alt="busuu logo" src="img/logos/logos-04.png"></a>
    </div>
    <div class="column-one-fifth">
      <a href="https://www.nrc.no/"><img alt="Norwegian Refugee Council logo" src="img/logos/logos-03.png"></a>
    </div>

    <div class="column-one-fifth">
      <a href="https://www.opensocietyfoundations.org/"><img alt="Open Society Foundations logo" src="img/logos/logos-05.png"></a>
    </div>
  </div>
</section>
